*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input,
button,
h1
{
    display: block;
    justify-content: space-between;
    margin-top: 6px;
    margin-left: 16px;
    height: 32px;
    width: 370px;
}
h1{
    margin-top: 24px;
}
form{
    padding: 16px;
    display: block;
}
button {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    background-color:blueviolet;
    color: #fff;
    cursor: pointer;
}